@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><text style="color:#2a6496">Télécharger un fichier</text></h2>
@using (Html.BeginForm("UploadFile", "Storage", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    <input type="file" class="btn btn-primary" id="FileUploader" name="FileUploader" multiple="multiple" />
    <input type="submit" class="btn btn-primary" name="Submit" id="Submit" value="Upload" />
}
