<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SearchServiceApiKey" value="" />
    <add key="SearchServiceName" value="" />
    <add key="ApiKey" value="" />
    <add key="ApiVersion" value="2014-07-31-Preview" />
    <add key="Endpoint" value="....search.windows.net" />
    <add key="QueryKey" value="" />
    <add key="IndexName" value="" />
    <add key="SearchCriteria" value="docx" />
    <add key="AzureStorage.ConnectionString" 
         value="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=..." />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>